.hltr-red {
  background-color: #ff5582; /* Highlight Red */
  color: black !important;
  font-weight: bold;
  padding-left: 12px;
  padding-block: 8px;
  border-radius: 8px;
}

.hltr-orange {
  background-color: #ffb86c; /* Light Orange */
  color: black !important;
  font-weight: bold;
  padding-left: 12px;
  padding-block: 7px;
  border-radius: 8px;
}

.hltr-yellow {
  background-color: #fff3a3; /* Light Yellow */
  color: black !important;
  font-weight: bold;
  padding-left: 12px;
  padding-block: 6px;
  border-radius: 8px;
}

.hltr-green {
  background-color: #bbfabb; /* Light Green */
  color: black !important;
  font-weight: bold;
  padding-left: 12px;
  padding-block: 5px;
  border-radius: 8px;
}

.hltr-cyan {
  background-color: #abf7f7; /* Light Cyan */
  color: black !important;
  font-weight: bold;
  padding-left: 12px;
  padding-block: 4px;
  border-radius: 8px;
}

.hltr-blue {
  background-color: #adccff; /* Light Blue */
  color: black !important;
  font-weight: bold;
  padding-left: 12px;
  padding-block: 3px;
  border-radius: 8px;
}

.hltr-purple {
  background-color: #cbaacb; /* Light Purple */
  color: black !important;
  font-weight: bold;
  padding-left: 12px;
  padding-block: 2px;
  border-radius: 8px;
}
