.hltr-red {
  background-color: #ff5582; /* Highlight Red */
}

.hltr-orange {
  background-color: #ffb86c; /* Light Orange */
}

.hltr-yellow {
  background-color: #fff3a3; /* Light Yellow */
}

.hltr-green {
  background-color: #bbfabb; /* Light Green */
}

.hltr-cyan {
  background-color: #abf7f7; /* Light Cyan */
}

.hltr-blue {
  background-color: #adccff; /* Light Blue */
}

.hltr-purple {
  background-color: #cbaacb; /* Light Purple */
}

.hltr-grey {
  background-color: #d3d3d3; /* Light Grey */
}
